uvicorn==0.18.3
fastapi
pydantic==1.10.2
SQLAlchemy==1.4.41
alembic==1.8.1
asyncpg==0.26.0
SQLAlchemy-Utils==0.38.3

torch
numpy
pandas
catboost
requests
beautifulsoup4
transformers
scikit-learn
isort
black

async_generator